@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}
body #mainpage-container {
  overflow: hidden;
}
body #mainpage-container #background {
  position: absolute;
  z-index: -1;
  min-width: calc(100% + 20px);
  min-height: calc(100% + 20px);
  background: transparent url('../images/main_background.jpg') center center no-repeat;
  background-size: cover;
  -webkit-filter: blur(7px);
}
body #mainpage-container .iconlinks {
  color: #FFFFFF;
  position: absolute;
  bottom: 15%;
  font-size: 60px;
  text-decoration: none;
}
body #mainpage-container a#twitter {
  right: 12%;
}
body #mainpage-container a#facebook {
  right: 20%;
}
body #mainpage-container img#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: auto;
}
body #mainpage-container #sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.3);
}
body #mainpage-container #sidebar ul {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% -  40px);
  margin-top: 40px;
  text-align: center;
}
body #mainpage-container #sidebar ul a {
  text-decoration: none;
  color: #FFA500;
}
body #mainpage-container #sidebar ul a li {
  display: block;
  padding: 7% 0;
  margin: 5% 0;
  font-size: 23px;
  font-weight: 700;
  transition-duration: .3s;
}
body #mainpage-container #sidebar ul a li:hover {
  background-color: #c8c8c8;
  color: orange;
}
body header {
  width: 100%;
  text-align: center;
  font-size: 40px;
}
body footer {
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
}
body #competition-container {
  min-height: 90vh;
  width: 100%;
}
body #competition-container .competition {
  width: 360px;
  height: 582.48px;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px #BEBEBE;
}
body #competition-container .competition .title {
  width: 100%;
  text-align: center;
  font-size: 40px;
}
body #competition-container .competition .entrant:before,
body #competition-container .competition .entrant:after {
  content: " ";
  display: table;
}
body #competition-container .competition .entrant:after {
  clear: both;
}
body #competition-container .competition .entrant .name {
  font-size: 30px;
  float: left;
}
body #competition-container .competition .entrant .score {
  font-size: 40px;
  float: right;
}
body #competition-container .competition .entrant .bar {
  width: 100%;
  height: 20px;
  background-color: green;
}
