extends skeleton_base

block skele-css
  link(rel='stylesheet', type='text/css', href='css/style.css')  

block page-title
  |Front Page

block body
  #mainpage-container
    #background
    img.whale-logo.centered-logo#logo(alt='whale_logo' src='images/whale_logo_large.gif')
    a.iconlinks#twitter(href='https://twitter.com/W_H_A_L_E' class='flaticon-social38')
    a.iconlinks#facebook(href='https://www.facebook.com/whalelab' class='flaticon-facebook29')
    #sidebar
      ul
        each link in siteWideLinks
          li: a(href=link.href)= link.display