// ====================== CSS3 Animation Keyframes ====================

// @keyframes {
// }

// ====================== LESS Classes ================================

.display-flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 
}

// ====================== LESS Variables ==============================

// ====================== General Styling =============================

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);

body, html {
  height: 100%;
  width: 100%;

  font-family: Roboto, sans-serif;
}

body { // Styling for main.jade
  #mainpage-container {
  overflow: hidden;

    #background {
      position: absolute;
      z-index: -1;

      min-width: calc(~"100% + 20px");
      min-height: calc(~"100% + 20px");

      background: transparent url('../images/main_background.jpg') center center no-repeat;
      background-size: cover;

      -webkit-filter: blur(7px);
    }

    .iconlinks {
      // color: #000044;
      color: #FFFFFF;
      position: absolute;
      bottom: 15%;
      font-size: 60px;
      text-decoration: none;
    }

    @icon-spacing: 20%;

    a#twitter {
      right: @icon-spacing - 8;
    }

    a#facebook {
      right: @icon-spacing;
    }

    img#logo {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50%;
      width: auto;
    }

    #sidebar {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100vh;
      width: 20%;
      background-color: rgba(255, 255, 255, 0.3); // Used rgba for opacity control

      ul {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;

        @top-spacing: 40px;
        height: calc(~"100% - "@top-spacing);
        margin-top: @top-spacing;

        text-align: center;

        a {
          text-decoration: none;
          color: #FFA500;

          li {
            display: block;
            padding: 7% 0;
            margin: 5% 0;
            
            font-size: 23px;
            font-weight: 700;

            transition-duration: .3s;
          }

          li:hover {
            background-color: rgba(200, 200, 200, 1.0);
            color: orange;

          }
        }
      }
    }
  }
}

body {
  header {
    width: 100%;
    text-align: center;
    font-size: 40px;
  }

  footer {
    width: 100%;
    text-align: center;
  }
}

body {
  #competition-container {
    min-height: 90vh;
    width: 100%;

    .display-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

    .competition {
      @comp-width: 260px;

      width: @comp-width;
      height: @comp-width * 1.618; // Golden ratio
      margin: 20px;
      padding: 20px;
      overflow: hidden;
      background-color: yellow;

      .title {
        width: 100%;
        text-align: center;
        font-size: 40px;
      }

      .entrant {
        .display-flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .name {
          font-size: 30px;
        }

        .score {
          font-size: 40px;
        }

        .bar {
          width: 100%;
          height: 20px;
          background-color: green;
        }
      }
    }
  }
}