// ====================== CSS3 Animation Keyframes ====================

// @keyframes {
// }

// ====================== LESS Classes ================================

.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// ====================== LESS Variables ==============================

// ====================== General Styling =============================

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);

body, html {
  font-family: Roboto, sans-serif;
}

body {
  header, footer {
    width: 100%;
    text-align: center;

    color: rgba(255, 255, 255, 1.0); // White
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; // Stack text-shadows until it looks dark

    clear: both;
  }

  header {
    font-size: 55px;
  }

  footer {
    font-size: 16px;
    padding: 10px 0;
  }
}

@logo-width: 350px;
img.whale-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  // width: 25%;

  width: @logo-width;
  height: @logo-width;

  margin-left: -@logo-width/2;  // Center the logo
  margin-top: -@logo-width/2;   // Center the logo

  // z-index: -1;
}

// ====================== Mainpage Styling ============================

img#logo-competition {
  cursor: pointer;
}

#mainpage-container {
  .cf;

  height: 100%;
  width: 100%;

  overflow: hidden;

  #background {
    position: absolute;
    z-index: -1;

    min-width: 100%;
    min-height: 100%;

    background: transparent url('../images/main_background.jpg') center center no-repeat;
    background-size: cover;

    -webkit-filter: blur(7px);
  }

  .iconlinks {
    // color: #000044;
    color: #FFFFFF;
    position: absolute;
    bottom: 15%;
    font-size: 60px;
    text-decoration: none;
  }

  @icon-spacing: 20%;

  a#twitter {
    right: @icon-spacing - 8;
  }

  a#facebook {
    right: @icon-spacing;
  }

  #sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.3); // Used rgba for opacity control

    ul {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;

      @top-spacing: 40px;
      height: calc(~"100% - "@top-spacing);
      margin-top: @top-spacing;

      text-align: center;

      li {
        display: block;

        transition-duration: .3s;

        a {
          display: block;
          width: 100%;
          height: 100%;

          padding: 7% 0;
          font-size: 23px;
          color: #FFA500;
          text-decoration: none;
          
          font-weight: 700;
        }

        &:hover {
          background-color: rgba(200, 200, 200, 1.0);
          color: orange;
        }
      }
    }
  }
}

// ====================== Competitions Styling ========================

#competition-container {
  .cf;

  min-height: 90vh;
  width: 100%;

  .competition {
    background-color: white;
    padding: 0 50px; // only top-bottom padding

    .title {
      width: 100%;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
    }

    .entrant {
      .cf;

      font-size: 20px;
      line-height: 1.5em;
      color: #808080;

      .competition-link {
        text-decoration: none;
        color: inherit;

        .name {
          font-size: 1em;
          float: left;

          .user-id {
            font-size: .66em;
          }
        }
      }

      .score {
        font-weight: 700;
        font-size: 1.2em;
        float: right;
      }

      &.leader {
        font-size: 30px;

        &.first {
          font-size: 33px;
          color: #FFD700;
        }

        &.second {
          font-size: 30px;
          color: #C0C0C0;
        }

        &.third {
          font-size: 27px;
          color: #CD7F32;
        }
      }

      &.streakless {
        font-size: 1em;
      }
    }
  }
}

// ====================== WAVE Styling ================================

@new-top-bar-color: #007095;

// Changing color of the top bar
nav.top-bar.expanded,
nav.top-bar.expanded .title-area {
  background: @new-top-bar-color;
}
.top-bar,
.top-bar ul li:not(.has-form) a:not(.button) {
  background: @new-top-bar-color;
  transition-duration: .3s;
}

.top-bar ul li:not(.has-form) a:not(.button):hover {
  background: #005A77;
}

.filters {
  clear: both;
}

.filters i.fi-info.has-tip {
  position: absolute;
  top: 0;
  right: 0;

  color: #006283; // Slightly darker version of the header color
  border-bottom: none;
}

// Style both to remove flicker of cursor to help
.filters i.fi-info.has-tip:hover,
.filters i.fi-info.has-tip {
  cursor: default; // Overriding the 'help' as assigned by foundation
  border-bottom: none;
}

.semesterContainer.hidden,
.departmentContainer.hidden {
  display: none;
}

.course {
  border-bottom: 1px solid #E6E6E6;
  position: relative;

  i.exp {
    cursor: pointer;
  }

  .secondary-info {
    position: absolute;
    background-color: #FFF;

    z-index: 1;

    top: calc(~"100% + 5px"); // Align top to top, then down by 100% (of parent)
    right: 10px;

    // border: 1px solid black;
    box-shadow: 0 0 20px -6px black;

    div {
      padding: 0 5px;
    }
  }

  &:not(.expanded) .secondary-info {
    display: none;
  }
}

.course.foundation-hidden,
.course.division-hidden,
.course.area-hidden {
  display: none;
}