.cf::before,
.cf::after {
  content: " ";
  display: table;
}
.cf::after {
  clear: both;
}
header > #gh-title {
  cursor: pointer;
  display: table;
  margin: 0 auto;
}
#competition-container::before,
#competition-container::after {
  content: " ";
  display: table;
}
#competition-container::after {
  clear: both;
}
#competition-container #header-row {
  text-align: center;
}
#competition-container #header-row div {
  text-decoration: underline;
}
#competition-container .competition .entrant {
  color: #808080;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#competition-container .competition .entrant div {
  padding-left: 33.75px;
  padding-right: 33.75px;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 1em;
}
#competition-container .competition .entrant .name a {
  text-decoration: none;
  color: inherit;
}
#competition-container .competition .entrant .name a.has-ttip:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: gray;
  color: white;
  font-size: 15px;
  padding: 4px 4px;
  line-height: 1em;
  max-width: 100px;
  left: 0;
  top: 0;
}
#competition-container .competition .entrant .name:hover {
  text-decoration: underline;
}
#competition-container .competition .entrant.leader.first div {
  font-size: 36px;
  color: #FFD700;
}
#competition-container .competition .entrant.leader.second div {
  font-size: 30px;
  color: #C0C0C0;
}
#competition-container .competition .entrant.leader.third div {
  font-size: 28px;
  color: #CD7F32;
}
#competition-container .competition .entrant.streakless div {
  font-size: 15px;
  color: #A9A9A9;
}
