extends skeleton_general

block page-title
  |404

block header
  |404

block contents
  .row
    #message-404.column.small-4.small-centered
      |404, this is not a good place to be.
    .column.small-12.medium-4.small-centered
      img(src='/images/whale_logo_large.gif')
