extends skeleton_general

block head
	script(type='text/javascript' src='static/templates/templates.js')

block contents
	#competition-background

	#competition-container

	img.whale-logo.centered-logo#logo-competition(alt='whale_logo' src='/images/whale_logo_small.png' title='Click the whale to update!')