extends skeleton_general

block scripts
  script(type='text/javascript' src='static/templates/templates.js' defer)

block contents
  //- #competition-background
  .row
    #competition-container
    //- img.whale-logo.centered-logo#logo-competition(alt='whale_logo' src='/images/whale_logo_small.png' title='Click the whale to update!')