extends skeleton_general

block head
	script(type='text/javascript', src='static/templates/templates.js')

block contents
	#competition-background
	#competition-container
		//- .competition
		//- 	.title GitHub Streak
		//- 	.entrant#1
		//- 		.name Clayton Rieck
		//- 		.score 45
		//- 		.bar
		//- 	.entrant#2
		//- 		.name Bryan Jensen
		//- 		.score 20
		//- 		.bar
		//- 	.entrant#3
		//- 		.name Tri Nguyen
		//- 		.score 13
		//- 		.bar
