extends skeleton_general

block scripts
  script(type='text/javascript' src='/js/dust-core-0.3.0.min.js' defer)
  script(type='text/javascript' src='/static/templates/templates.js' defer)

block contents
  .row
    #competition-container
