extends skeleton_general

block contents
	#competition-container
		.competition
			.title GitHub Streak
			.entrant#1
				.name Clayton Rieck
				.score 45
				.bar
			.entrant#2
				.name Bryan Jensen
				.score 20
				.bar
			.entrant#3
				.name Tri Nguyen
				.score 13
				.bar
		.competition
		.competition
		.competition
		.competition
		.competition