doctype html
html
	head
		meta(charset='utf-8')
		title Wh.A.Le
		link(rel='shortcut icon' href='/images/favicon.ico')
		link(rel='stylesheet', type='text/css', href='/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='/webfont_icons/flaticons.css')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
		script(type='text/javascript', src='js/jquery-1.10.2.js')
		script(type='text/javascript', src='js/script.js')

	body
		#background
		//- img#background(src='images/main_background.jpg')
		img#logo(src='images/whale_logo_small.png')
		div#twitter(class='.flaticon-social38:before')
		div#facebook(class='.flaticon-facebook29')
		#sidebar
			ul
				a(href='/projects')
					li Whale Projects
				a(href='/printing')
					li 3D Prints For Sale
				a(href='/')
					li Other
				a(href='/makerspaces')
					li About Makerspaces
				a(href='/members')
					li About the Members