doctype html
html
	head
		meta(charset='utf-8')
		title Wh.A.Le
		link(rel='stylesheet', type='text/css', href='/static/style.css')
		script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
		script(type='text/javascript', src='static/jquery-1.10.2.js')
		script(type='text/javascript', src='static/script.js')

	body
		img#background(src='images/main_background.jpg')
		img#logo(src='images/whale_logo_small.png')
		#sidebar