extends skeleton_base

block body
	#mainpage-container
		#background
		img.whale-logo.centered-logo#logo(alt='whale_logo' src='images/whale_logo_small.png')
		a.iconlinks#twitter(href='https://twitter.com/W_H_A_L_E' class='flaticon-social38')
		a.iconlinks#facebook(href='https://www.facebook.com/whalelab' class='flaticon-facebook29')
		#sidebar
			ul
				a(href='/projects')
					li Whale Projects
				a(href='/github')
					li GitHub Competition
				a(href='/printing')
					li 3D Prints For Sale
				a(href='/makerspaces')
					li About Makerspaces
				a(href='/members')
					li About the Members