extends skeleton_general

block page-title
  |Members

block header
  |WHALE Makerspace Members

block contents
  .row
    each member in members
      .member.column.small-6.medium-3
        .row: .name= member.name
        .row: a(href='https://github.com/' + member.github) GitHub Profile
        .row: a(href=member.website) Personal Website

    .member.column.small-6.medium-3
      .row: .name Missing?
      .row: .text Write your name, github and website on the board in the Whale Lab!
