extends skeleton

block scripts

	script(type='text/javascript').
		
		var ordersQueue = new Firebase('https://whalesite.firebaseio.com/');

		$('html, body').click(function(){ // replace with 'place order' button
			ordersQueue.set('hello world!');
			alert('added to firebase');
		});
	

block body
	|selling
