doctype html
html
	head
	body
		.content
			|Derp! I'm a whale!
			|Hell yeah you are!


		block script
		script(type='text/javascript').
			var ordersQueue = new Firebase('https://whalesite.firebaseio.com/');

			$('body').click(function(){ // replace with 'place order' button
				ordersQueue.set('hello world!');
				alert('added to firebase');
			});
