doctype html
html
	head
	body
		.content
			|Derp! I'm a whale!
			|Hell yeah you are!



	script(type='text/javascript').
		var firebase = new Firebase('https://whalesite.firebaseio.com/');

		$('body').click(function(){ // replace with 'place ordr' button
			firebase.set("hello world!");
		});
