//- This is the more general and structured skeleton to extend.
  It has the general layout structure for most pages.

extends skeleton_base

block skele-css
  link(rel='stylesheet' type='text/css' href='/foundation.custom/css/foundation.min.css')
  link(rel='stylesheet' type='text/css' href='/foundation.custom/foundation-icons/foundation-icons.css')

  block css

block skele-script
  //- Note: Not deferred. Prevents flash of unstyled content with the header
  script(defer src='/foundation.custom/js/foundation.min.js')
  script(defer src='/foundation.custom/js/vendor/modernizr.js')

  block scripts

block body
  div.fixed
    nav(data-topbar role='navigation').top-bar
      ul.title-area
        li.name: h1: a(href='/') Wh.A.Le.
        li(class='toggle-topbar menu-icon'): a(href='#'): span Menu
      section.top-bar-section
        ul.left
          li: a(href='/github') GitHub Competition
          li: a(href='/wave') WAVE
          //- li: a(href='/projects') Projects
          //- li: a(href='/printing') 3D Printing
          //- li: a(href='/makerspaces') About Makerspaces
          li: a(href='/members') About Us

  .row: header
    block page-title

  #container
    block contents

  footer Site created and maintained by members of Wheaton's Autonomous Learning Lab.

  script(defer src='/foundation.custom/js/init.js')