//- This is the more general and structured skeleton to extend.
  It has the general layout structure for most pages.

extends skeleton_base

block head
  script(src='/foundation/js/foundation.min.js' defer)
  script(src='/foundation/js/vendor/modernizr.js' defer)

  link(rel='stylesheet' type='text/css' href='/foundation/css/foundation.css')

  block scripts

block body
  .row: header WHALE Lab
  
  div.fixed
    nav(data-topbar role='navigation').top-bar
      ul.title-area
        li.name: h1: a(href="/") Wh.A.Le.
      section.top-bar-section
        ul.left
          li: a(href="/competitions") GitHub Competition
          li: a(href="/wave") WAVE
          li: a(href="/projects") Projects
          li: a(href="/printing") 3D Printing
          li: a(href="/makerspaces") About Makerspaces
          li: a(href="/members") About Us

  #container
    block contents

  footer Site created and maintained by members of Wheaton's Autonomous Learning Lab.

  script(src='/foundation/js/init.js' defer)