//- This is the most basic skeleton to extend. It holds only the scripts and such.
doctype html
html
	head
		meta(charset='utf-8')
		title Wh.A.Le
		link(rel='shortcut icon' href='/images/favicon.ico')
		link(rel='stylesheet', type='text/css', href='/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='/static/webfont_icons/flaticon.css')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
		script(type='text/javascript', src='js/jquery-1.10.2.js')
		script(type='text/javascript', src='js/dust-core-0.3.0.min.js')
		script(type='text/javascript', src='js/script.js')
		block head

	body
		block body
