//- This is the most basic skeleton to extend. It holds only the scripts and such.
doctype html
html
  head
    meta(charset='utf-8')

    title Wh.A.Le

    meta(name='viewport' content='width=device-width, initial-scale=1.0')


    link(rel='shortcut icon' href='/images/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/static/webfont_icons/flaticon.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

    block skele-css

    //- Make sure to defer all scripts, so they don't block page load
    script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js' defer)
    script(type='text/javascript', src='/js/jquery-1.10.2.js' defer)

    block skele-script

    //- script.js is always last to load
    script(type='text/javascript', src='/js/script.js' defer)

  body
    block body


  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54964014-1', 'auto');
    ga('send', 'pageview');