//- This is the more general and structured skeleton to extend.
  It has the general layout structure for most pages.

extends skeleton_base

block skele-css
  link(rel='stylesheet' type='text/css' href='/foundation/css/foundation.min.css')
  link(rel='stylesheet' type='text/css' href='/foundation/foundation-icons/foundation-icons.css')

  block css

block skele-script
  //- Note: Not deferred. Prevents flash of unstyled content with the header
  script(defer src='/foundation/js/foundation.min.js')
  script(defer src='/foundation/js/vendor/modernizr.js')

  block scripts

block body
  div.fixed
    nav(data-topbar role='navigation').top-bar
      ul.title-area
        li.name: h1: a(href='/' target='_self') WHALE
        li(class='toggle-topbar menu-icon'): a(href='#'): span Menu
      section.top-bar-section
        ul.left
          each link in siteWideLinks
            //- Target self to override the hacky method for WAVE opening every page in a new tab
            li: a(href=link.href target='_self')= link.display

  .row: header
    block header

  #container
    block contents

  footer Site created and maintained by members of Wheaton's Autonomous Learning Experience Lab.

  script(defer src='/foundation/js/init.js')