//- This is the more general and structured skeleton to extend.
	It has the general layout structure for most pages.

extends skeleton_base

block body
	header Wh.A.Le
	nav: ul
		li: a(href="/") Main Page
		li: a(href="/projects") Projects
		li: a(href="/printing") 3D Printing
		li: a(href="/makerspaces") About Makerspaces
		li: a(href="/members") About Us
	block contents
	footer Site created and maintained by members of Wheaton's Autonomous Learning Lab.