//- This is the more general and structured skeleton to extend.
	It has the general layout structure for most pages.

extends skeleton_basic

block body
	header Wh.A.Le
	block contents
	footer Site created and maintained by members of Wheaton's Autonomous Learning Lab.