extends skeleton_general

block page-title
  |Feedback

block header
  |Feedback

block contents
  .row
    .column.small-6.small-centered
      span Thanks for the feedback! Your issue can be seen 
        a(href=issueURL) here.