extends skeleton_general

block scripts
  script(type='text/javascript' src='/static/templates/templates.js' defer)
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    
block contents
  .row
    = errorMessage
    .columns.small-12.large-6
      .row
        .columns.small-6
          select(name='semester')
            option(value='all') - Semester -
            option(value='fall') Fall
            option(value='winter') Winter
            option(value='spring') Spring
            option(value='summer') Summer
        .columns.small-6
          select(name='department')
            option(value='all') - Department -
            option(value='COMP') Computer Science
            option(value='MATH') Mathematics
      .row
        .columns.small-6
          select(name='foundation')
            option(value='all') - Foundation -
        .columns.small-6
          select(name='division')
            option(value='all') - Division -

      .row
        .columns.small-6
          select(name='foundation')
            option(value='all') - Area -
        .columns.small-6
          select(name='division')
            option(value='all') - Interdisciplinary Major -

      .row
        |Schedule preview

    .columns.small-12.large-6

      each semesterData, semesterName in courseData['2014-2015']
        .semesterContainer(class=semesterName)

          each departmentData, departmentName in semesterData
            .departmentContainer(class=departmentName)

              each course in departmentData
                .row
                  .columns.small-6
                    = course['courseTitle']
                  .columns.small-6
                    = course['courseCode']