extends skeleton_general

block scripts
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  base(target='_blank')

block page-title
  |WAVE

block header
  |WAVE

block contents
  input#year(type='hidden' value=year)
  = errorMessage
  .row
    .columns.small-11.large-4.small-centered.medium-uncentered
      include ../static/course-data/compiled/filters.html
      .row
        //- Schedule preview goes here
      .row
        a(href='/wave/feedback') Feedback?


    .columns.small-12.large-7.dataContainer
      #loading-placeholder
        #progress-value
        img(src='images/spinner.gif')
      //- != dynamicData