extends skeleton_general

block scripts
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

block page-title
  |WAVE

block contents
  input#year(type='hidden' value=year)
  = errorMessage
  .row
    .columns.small-12.large-5
      include ../static/course-data/compiled/filters.html
      .row
        //- Schedule preview goes here

    .columns.small-12.large-7.dataContainer
      #loading-placeholder
        #progress-value
        img(src='images/spinner.gif')
      //- != dynamicData