//- extends skeleton_general

//- block contents
//- 	#schedule
//- 		|Schedule here
//- 	#courses
//- 		|Courses here
//- 	#filters
//- 		|Filters here

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title WAVE
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='../css/base.css')
    link(rel='stylesheet', href='../css/skeleton.css')
    link(rel='stylesheet', href='../css/layout.css')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
  body
    .container
      .sixteen.columns
        h1.remove-bottom(style='margin-top: 40px;') WAVE
        h5 Beta v0.1
        hr
      #page-contents.sixteen.columns
        #search-results.eight.columns
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
          .course-entry.clearfix
            .primary-info
              .course-title Advanced Cryptography
              .course-number MATH-398
              .course-instructor Thomas C. Ratliff
              .course-time M W 2:00-3:30
            .secondary-info
              .course-exam-slot A
              .course-crn 10204
              .course-attributes N/A
              .course-textbook
                a(href='#') Textbook
        #search-options.seven.columns
          #dropdown-container
            select(name='subject-selector')
              option  - Subject - 
              option Computer Science
              option Math
            select(name='foundation-selector')
              option  - Foundation - 
              option Beyond the West
              option First Year Seminar
            select(name='division-selector')
              option  - Division - 
              option Arts and Humanities
              option Natural Science
            select(name='area-selector')
              option  - Area - 
              option Humanities
              option History
        #week-preview.seven.columns
          img#placeholder-image(src='images/week-at-a-glance.png')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.1.min.js')
    script(type='text/javascript', src='js/script.js')
