extends skeleton_general

block page-title
  |Members

block header
  |WHALE Makerspace Members

block contents
  form
    .row
      .column.small-6.text-right
        label Your Name:
      .column.small-6.text-right
        input(type='text' name='name')
    .row
      .column.small-6.text-right
        label What you want to say:
      .column.small-6.text-right
        textarea(name='feedback')
    .row
      .column.small-6.push-6
        input.button.small.radius(type='submit')
