extends skeleton_general

block scripts
  script(type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js' defer)
  script(type='text/javascript' src='/js/dust-core-0.3.0.min.js' defer)
  script(type='text/javascript' src='static/templates/templates.js' defer)

block page-title
  |GitHub

block header
  div.tip-right#gh-title(data-tooltip title='Click title to refresh the competition') GitHub Competition

block contents
  .row
    #competition-container
