// ====================== CSS3 Animation Keyframes =============================

// @keyframes {
// }

// ====================== LESS Classes =========================================

.cf {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

// ====================== LESS Variables =======================================

// ====================== GitHub Styling =======================================

#gh-title {
  cursor: pointer;
  display: table;
  margin: 0 auto;
}

#competition-container {
  .cf;

  #header-row {
    text-align: center;

    div {
      text-decoration: underline;
    }
  }

  .competition {
    .entrant {
      color: #808080;
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      div {
        padding-left: 33.75px;
        padding-right: 33.75px;
        
        text-align: center;
        font-size: 23px;
        font-weight: 700;

        line-height: 1em;
      }

      .name {
        a {
          text-decoration: none;
          color: inherit;

          &.has-ttip:hover:after {
            content: attr(data-tooltip);
            position: absolute;
            background-color: gray;
            color: white;
            font-size: 15px;
            padding: 4px 4px;
            line-height: 1em;
            max-width: 100px;
            left: 0;
            top: 0;
          }
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .score {
        // font-weight: 700;
      }

      &.leader {
        // font-weight: 700;

        &.first div {
          font-size: 36px;
          // line-height: 1.4em;
          color: #FFD700;
        }

        &.second div {
          font-size: 30px;
          // line-height: 1.4em;
          color: #C0C0C0;
        }

        &.third div {
          font-size: 28px;
          // line-height: 1.4em;
          color: #CD7F32;
        }
      }

      &.streakless div {
        font-size: 15px;
        color: #A9A9A9;
      }
    }
  }
}