extends skeleton_general

//- block scripts

block page-title
  |Vigenere Solver Tool

block header
  div Plaintext Word Guesser

block contents
  .row
    .column.small-12
      h3 How to use this tool:
      p.
        Put the cipher text in the upper box (or it may already be there).
        Guess a word that you think was part of the original message, and put it in the second box.
        Clicking 'Solve' will create a long list of "keys" and "plaintexts" by aligning the guess word with every possible spot in the ciphertext.
        To the left of the "decrypted" plaintext, it will give the key that gave the "decryption."
        Each "key" will be a fragment, possibly a wrap-around, of the final actual key.
        

    .column.small-12
      textarea#cipher(placeholder='Ciphertext here').
        DIFIZ TKAEF WUUQV MZDBE COWTR JVCTM
        SRREL QRFWW PVLXW UHGVU RHOLD SYRAO 
        QGGVH YUVWE ECYMR LROZR LBFPG AUFNW 
        ZCMCB DXMSE BKLDU VXULW HQRNW NVMJ
      input#guess(type='text' placeholder='Guess a word that may be in the plaintext')
      button#solve Solve

    .column.small-12
      #output
        .explain
          |Format: &lt;key fragment&gt; &mdash; &lt;corresponding plaintext&gt;
          br
          |(Scroll right to see full plaintext)
        #text